@font-face {
  font-family: "Monapo";
  src: local("Monapo"),
       local("Monapo-Regular"),
       url("/static/styles/fonts/submona.eot"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "Monapo";
  src: local("Monapo"),
       local("Monapo-Regular"),
       url("submona.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("submona.otf") format("opentype"), /* Open Type Font */
       url("submona.svg") format("svg"), /* Legacy iOS */
       url("submona.ttf") format("truetype"), /* Safari, Android, iOS */
       url("submona.woff") format("woff"), /* Modern Browsers */
       url("submona.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: IPAMonaPGothic, 'IPA モナー Pゴシック', Monapo, Mona, 'MS Pgothic', 'MS Pゴシック';
  white-space: pre; 
}

